@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap");

:root {
  --v-d-grayish-blue: hsl(217, 19%, 35%);
  --desaturated-d-blue: hsl(214, 17%, 51%);
  --grayish-blue: hsl(212, 23%, 69%);
  --l-grayish-blue: hsl(210, 46%, 95%);
}

body {
  font-family: "Manrope", sans-serif;
  font-size: 0.8125rem;
  background-color: var(--l-grayish-blue);
}

main {
  border-radius: 14px;
  /* overflow: hidden; */
  position: relative;
  background-color: white;

  display: flex;
  flex-direction: row;

  width: 600px;

  margin: 100px auto;

  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.sheared-pic {
  width: 260px;
  border-radius: 14px 0 0 14px;
}

article {
  padding: 1.5rem;
  flex-grow: 1;
}
h3 {
  font-size: 1.1rem;
  color: var(--v-d-grayish-blue);

  margin-top: 0;
}

p {
  color: var(--grayish-blue);
}

.user {
  display: flex;
  flex-direction: row;

  position: relative;

  align-items: center;

  width: 100%;

  justify-content: space-between;

  margin: 20px 0 0;
  /* overflow: hidden; */
}

.user-info {
  display: flex;
  flex-direction: row;
}

.dp {
  width: 30px;
  margin-right: 20px;

  border-radius: 100%;

  border: 2px solid skyblue;
}

.credential {
  display: flex;
  flex-direction: column;
}

.user-name {
  color: var(--v-d-grayish-blue);
}

.date {
  color: var(--grayish-blue);
}

.icon-share {
  padding: 7px;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  color: white;
  text-align: center;

  background-color: var(--l-grayish-blue);
}

.icon-share:hover {
  /* color: white; */
  background-color: var(--v-d-grayish-blue);
}

.icon-block {
  position: absolute;

  bottom: 60px;
  right: -12%;
  opacity: 0;
  background-color: var(--v-d-grayish-blue);

  display: flex;
  flex-direction: row;

  justify-content: space-evenly;
  align-items: center;

  padding: 10px 1.5rem;

  border-radius: 12px;
  letter-spacing: 0.5em;
  color: var(--l-grayish-blue);
}

@media (max-width: 600px) {
  main {
    width: 80%;

    flex-direction: column;
  }

  .sheared-pic {
    width: 100%;
    border-radius: 14px 14px 0 0;
  }

  .icon-share {
    z-index: 1;
  }
  .icon-share:hover {
    background-color: white;
  }

  .icon-block {
    margin: auto;
    bottom: 10px;
    right: 0;
    left: 0;
    justify-content: flex-start;
    width: inherit;
    height: 40px;
  }
}

.mx {
  margin: 5px 7px;
  /* width: 15px; */
}
.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}
